/* Top Navigation Bar */

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;

  /* background: linear-gradient(to bottom,rgba(213,199,188,1), rgba(213,199,188,0.8)); */

  /* background: linear-gradient(to bottom,rgba(255,255,255,0.6), rgba(255,255,255,0.2)); */

  z-index: 1;
}

.project-title {

position: relative;
top:200px;
}

.brand {
  position: relative;
  float: left;

  padding: 30px 0 0 40px;
}

.brand .hi {
  font-size: 14px;
  font-weight: 400;
  overflow:hidden;

}

.brand .name {
  font-weight: 800;
}


.navigation {
  list-style-type: none;
  margin: 0;
  padding: 30px 40px;

  font-size: 14px;
  font-weight: 400;
}

.navigation li {
  float: right;
  padding-left: 60px;
}

.navigation li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.navigation li a:hover {
  color: red;
}

[data-aos="name"] {
  font-size: 24px;
  line-height: 26px;
  transition-property: font-size, line-height;
  transition: 0.3s ease-out;
}
[data-aos="name"].aos-animate {
  font-size: 18px;
  line-height: 20px;
}

[data-aos="hi"] {
  height:20px;
  transition-property: height;
  transition: 0.3s ease-out;
}
[data-aos="hi"].aos-animate {
  height:0px;
}

/* Section 1 and scroll CTA */

.center-text {
  text-align: left;
  font-size: 48px;
  font-weight: 600;

  line-height: 56px;


  width: 900px;
  margin: auto;

  position: relative;
  top: 220px;
}

.see-more {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;

  top: 350px;
}

.see-more .text {
  position: absolute;
  top: 70px;
  left: -5px;

  text-align: center;

  font-size: 12px;
  font-weight: 300;
}

.see-more #box {
  position: absolute;
  width: 60px;
}

.see-more #arrow {
  position: absolute;
  top: -25px;

  transition: 0.3s;

  width: 60px;
}

.see-more:hover {
  cursor: pointer;
}

.see-more:hover #arrow {
  top:-15px;
}


/* Section 2 for featured projects */

.featured-projects {

  position: relative;

  top: 150px;

  display: flex;
  justify-content: center;
}

.project-spacer {
  width: 100%;
  height: 100px;
}

.featured-projects .card {
  text-decoration: none;

  margin: 0 20px 40px 20px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);

  transition: 0.3s;

  overflow: hidden;
}

.long {
  width: 300px;
  height: 500px;

}

.medium {
  width: 300px;
  height: 400px;
}

.short {
  width: 300px;
  height: 300px;
}

.wide {
  width: 980px;
  height: 300px;
}

.card:hover {
transform: translate(0, -10px);
box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.08);
}

.featured-projects #project-image{
  position: absolute;
  border-radius: 4px;
}

.long #project-gradient{
  position: absolute;
  width: 300px;
  height: 500px;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1));

  opacity: 0.6;
  transition: 0.3s;
  border-radius: 4px;
}

.medium #project-gradient{
  position: absolute;
  width: 300px;
  height: 400px;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1));

  opacity: 0.6;
  transition: 0.3s;
  border-radius: 4px;
}

.short #project-gradient{
  position: absolute;
  width: 300px;
  height: 300px;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1));

  opacity: 0.6;
  transition: 0.3s;
  border-radius: 4px;
}

.card:hover #project-gradient {
  opacity: 1;
}

.long-text {

  position: relative;
  text-align: left;
  top: 400px;
  left: 20px;

  color: white;

  transition: 0.3s;
}

.card:hover .long-text {
  top: 330px;
}

.medium-text {

  position: relative;
  text-align: left;
  top: 300px;
  left: 20px;

  color: white;

  transition: 0.3s;
}

.card:hover .medium-text {
  top: 230px;
}

.short-text {

  position: relative;
  text-align: left;
  top: 200px;
  left: 20px;

  color: white;

  transition: 0.3s;
}

.card:hover .short-text {
  top: 130px;
}

.featured-projects .title {
  font-size: 32px;
  font-weight: 800;

  line-height: 30px;
}

.featured-projects .description {
  font-size: 14px;
  font-weight: 300;

  margin-top: 40px;
  margin-bottom: 24px;

  transition: 0.3s;

  padding-right: 40px;
}

.card:hover .description {
  margin-top: 10px;
}

.featured-projects #project-arrow{
  position: relative;

  width: 20px;

}
