.navigation{
  padding: 20px 50px;
  transition: .3s ease;

  height: 100px;
  &.nav-bg {
    background-color: $primary-color;
    padding: 5px 30px;
    @include desktop {
      padding: 5px 30px;
    }
  }

  @include desktop {
    padding: 20px 50px;
  }
}

.navbar{
  .nav-item{

    .nav-link{
      font-family: $tertiary-font;
      font-weight: 400;
      font-size: 14px;

      text-decoration: none;
      color: white !important;

      text-transform: uppercase;
      padding: 0 15px 0 15px;

      @include desktop{
        font-size: 14px;
      };
    }

    &:hover {
      color: white !important;
      opacity: 1;
    }

    &:hover .animated-hover-box {
      width: 50px;
      opacity: 1;
    }

    &.active{
      font-weight: 600;
    }
  }
}

.animated-hover-box {
  position: relative;
  top: 5px;

  margin: auto;

  width: 0px;
  height: 2px;

  opacity: 0;

  background: $secondary-color;

  transition: 0.2s;
}

.navbar-dark .navbar-nav .nav-link{
  color: $white;
}
