.header-gap {
  height: 400px;
  background-color: #53917E;

  position: relative;

  text-align: center;

  overflow: hidden !important;

  & img {

    opacity:0.2;
    display: block;

    width: 100%;
  }
}

.portfolioSection {
  padding: 60px 0 200px 0;
}

.portfolioSize {
  width: 80% !important;
  margin: auto;
}

.portfoliio-header {
  padding-bottom: 400px;
}

.page-title{

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: $tertiary-font;
  font-size: 60px;
  font-weight: 200;
  color: white;
}

.project-hover-wrapper {
  overflow: hidden;

  &:hover {

    .project-hover-overlay {
      opacity: 1;
      visibility: visible;
    }

    .project-hover-content {
      transform: translate(0, -10px);
    }
  }
}

.project-hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-image: linear-gradient(30deg, rgba(0,0,0,0.8), rgba(0,0,0,0));
  border: 8px solid #53917E;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.project-hover-content {
  position: absolute;
  bottom: 10px;
  left: 30px;

  font-family: $tertiary-font;
  color: white;

  transition: .3s ease;
}

.little-rounded {
  border-radius: 4px;
}

.project-hover-content .title {
  font-weight: 600;
  font-size: 36px;

  margin: 0 0 10px 0;

  line-height: 0.9;
}

.filter-controls {
  li {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}
