<!-- hero area -->
<section class="hero-area bg-primary">
      <div class="col-lg-9">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h1>
        <div class="linkCTA">MORE ABOUT ME <i class="ti-arrow-right" style="font-size:12px"></i></div>
      </div>
  <!-- social icon -->
  <ul class="socialIconTray zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-4 socialIcon"><a href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->

  <a href="#scrollStop1">
    <img class="scrollDown fadeOut" id="scrollStop1" src="{{ site.baseurl }}/{{ site.data.settings.hero.scroll-down-icon }}">
  </a>
</section>
<!-- /hero area -->
