{% if site.data.portfolio.portfolio-home-items %}
<!-- portfolio -->
<section class="portfolioDisplaySection" id="portfolio">
  <h2 class="text-center">DESIGN PROJECTS</h2>

  <div class="portfolioRow">
    {% assign doclist = site.design_projects | sort: 'order'  %}
    {% for design_project in doclist offset:0 limit:4 %}
    <a class="portfolioCard" href="{{ design_project.url | relative_url }}">
      <div class="position-relative hover-wrapper">
        <img src="{{ site.baseurl }}/{{ design_project.project-home-cover }}" alt="portfolio-image">
        <div class="hover-overlay">
          <div class="hover-content">
            <div class="title">{{ design_project.title }}</div>
            <i class="ti-arrow-right" style="font-size:12px"></i>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
  </div>

  <a class = "seeMore" href="{{site.baseurl}}/portfolio"> VIEW MORE &nbsp<i class="ti-arrow-right" style="font-size:12px"></i> </a>
</section>
<!-- /portfolio -->
{% endif %}
