/* Button style */
.btn {
  font-size: 14px !important;
  font-family: $tertiary-font;
  text-transform: capitalize;
  padding: 12px 100px !important;
  border-radius: 0px !important;
  font-weight: 400;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }

  &-sm {
    font-size: 15px;
    padding: 10px 30px;
  }

  &-xs {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.btn-primary {

  background: rgba(255, 255, 255, 0);

  outline: 0;

  border-bottom: 1px solid lighten(grey, 30) !important;

  color: black !important;

  &:active {
    background: white !important;
    color: white !important;

    border-bottom: 1px solid grey !important;
  }

  &:hover {
    background: white !important;
    color: $secondary-color !important;

    border-bottom: 3px solid $secondary-color !important;
  }

  &.focus,
  &.active {
    background: white  !important;
    box-shadow: none !important;
    color: $secondary-color !important;

    font-weight: 600;

    border-bottom: 3px solid $secondary-color !important;
  }
}


.btn-transparent {
  background: transparent;
  color: $primary-color;
  font-weight: bold;

  &:active,
  &:hover {
    color: $primary-color;
  }
}
