/*  typography */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700|Nunito+Sans:200,300,400,800');

// @font-face {
//   font-family: 'BwNistaInt-xBd';
//   src: url("../plugins/fonts/BwNistaInt-xBd.woff") format("woff");
//   font-style: normal;
//   font-display: swap;
// }

body {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.8;
  font-family: $primary-font;
  &-lg{
    font-size: 22px;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $tertiary-font;
}

h1, .h1{
  font-size: 70px;
  line-height: 0.9;

  @include desktop-lg {
    font-size: 50px;
  }

  @include desktop {
    font-size: 42px;
  }
}

h2, .h2{
  font-size:18px;
  font-weight: 400;

  letter-spacing: 4px;

  @include desktop {
    font-size: 16px;
  }
}

h3, .h3{
  font-size: 40px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 14px;
}

.linkCTA {
  font-size: 14px;
  font-family: $primary-font;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  color: $text-color-CTA;

  @include desktop {
    font-size: 12px;
  }
}
